In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Important Notes: This file needs to use clustering_result3.csv file, which is the output file from clustering analysis and trnsact_clean.csv file, which is the output file from trnsact data cleaning.

In [2]:
# Global Variables
trnsact_file_name = 'trnsact_clean.csv'
clusters3_file = 'clustering_result3.csv'

In [3]:
TRNSACT = pd.read_csv(trnsact_file_name, sep=',')

In [4]:
clusters3 = pd.read_csv(clusters3_file)

In [5]:
TRNSACT.head()

,SKU,STORE,REGISTER,TRANNUM,INTERID,SALEDATE,STYPE,QUANTITY,ORGPRICE,AMT,SEQ,MIC
0,3,202,290,1100,326708721,2005-01-18,P,1,0.0,30.0,3500000,818
1,3,202,540,2700,326708721,2005-01-29,R,1,0.0,30.0,15200000,818
2,3,303,500,2100,23702074,2004-08-18,P,1,0.0,12.0,4600000,48
3,3,709,360,500,0,2005-08-14,P,1,0.0,30.0,6500000,818
4,3,802,660,400,0,2005-08-09,P,1,440.0,30.0,4700000,599

In [6]:
merged = pd.merge(TRNSACT, clusters3[['SKU','cluster']], on='SKU', how='inner')
merged.head()

,SKU,STORE,REGISTER,TRANNUM,INTERID,SALEDATE,STYPE,QUANTITY,ORGPRICE,AMT,SEQ,MIC,cluster
0,69,8002,330,1900,279608907,2004-09-30,P,1,12.25,7.38,60500000,2,2
1,69,8002,330,3800,821309037,2005-03-03,P,1,12.25,14.75,969200003,50,2
2,69,8002,350,2200,786008907,2004-09-07,P,1,12.25,12.25,24500000,804,2
3,69,8002,390,4400,214600533,2004-09-03,P,1,12.25,14.75,35800000,862,2
4,73,5402,120,1000,0,2005-05-13,P,1,12.00,3.00,707500004,443,2

In [7]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /Users/danielwang/anaconda3/lib/python3.11/site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from mlxtend) (3.7.1)
Requirement already satisfied: joblib>=0.13.2 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in /Users/danielwang/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [8]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Assuming 'df' is your pandas DataFrame with 'ordernumber' and 'itemnumber' columns
# Transforming the DataFrame to have one transaction per row
cluster1_trnsact = merged.loc[merged['cluster'] == 0,['TRANNUM','SKU']].groupby('TRANNUM')['SKU'].apply(list).tolist()

# Encoding the transactions
te = TransactionEncoder()
te_ary = te.fit(cluster1_trnsact).transform(cluster1_trnsact)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Running Apriori algorithm
frequent_itemsets = apriori(df_encoded, min_support=0.08, use_colnames=True)

# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

# Displaying the rules
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(94337),(8912054),0.104490,0.105306,0.081633,0.781250,7.418847,0.070629,4.090029,0.966162
1,(8912054),(94337),0.105306,0.104490,0.081633,0.775194,7.418847,0.070629,3.983476,0.967044
2,(94337),(8932054),0.104490,0.101224,0.080816,0.773438,7.640814,0.070239,3.967009,0.970535
3,(8932054),(94337),0.101224,0.104490,0.080816,0.798387,7.640814,0.070239,4.441731,0.967009
4,(4337128),(8592054),0.093061,0.100408,0.081633,0.877193,8.736272,0.072289,7.325248,0.976400
...,...,...,...,...,...,...,...,...,...,...
509,(9162054),"(8592054, 8912054, 8932054, 8832054)",0.103673,0.080816,0.080816,0.779528,9.645669,0.072438,4.169155,1.000000
510,(8832054),"(8592054, 8912054, 8932054, 9162054)",0.103673,0.080816,0.080816,0.779528,9.645669,0.072438,4.169155,1.000000
511,(8912054),"(8832054, 8592054, 8932054, 9162054)",0.105306,0.083265,0.080816,0.767442,9.216826,0.072048,3.941959,0.996433
512,(8932054),"(8832054, 8592054, 8912054, 9162054)",0.101224,0.082449,0.080816,0.798387,9.683408,0.072470,4.551053,0.997725
513,(8592054),"(8832054, 8912054, 8932054, 9162054)",0.100408,0.082449,0.080816,0.804878,9.762135,0.072538,4.702449,0.997745

In [9]:
cluster2_trnsact = merged.loc[merged['cluster'] == 1,['TRANNUM','SKU']].groupby('TRANNUM')['SKU'].apply(list).tolist()

# Encoding the transactions
te = TransactionEncoder()
te_ary = te.fit(cluster2_trnsact).transform(cluster2_trnsact)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Running Apriori algorithm
frequent_itemsets = apriori(df_encoded, min_support=0.08, use_colnames=True)

# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

# Displaying the rules
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(243947),(3029412),0.114766,0.162524,0.084552,0.736730,4.533046,0.065899,3.181057,0.880443
1,(3029412),(243947),0.162524,0.114766,0.084552,0.520240,4.533046,0.065899,1.845159,0.930651
2,(1591136),(3029412),0.124269,0.162524,0.087232,0.701961,4.319111,0.067035,2.809951,0.877519
3,(3029412),(1591136),0.162524,0.124269,0.087232,0.536732,4.319111,0.067035,1.890332,0.917604
4,(2137418),(3029412),0.119883,0.162524,0.080166,0.668699,4.114455,0.060682,2.527841,0.860061
5,(3029412),(2509639),0.162524,0.133285,0.090156,0.554723,4.161941,0.068494,1.946462,0.907164
6,(2509639),(3029412),0.133285,0.162524,0.090156,0.676417,4.161941,0.068494,2.588131,0.876559
7,(6032521),(2509639),0.140838,0.133285,0.080409,0.570934,4.283573,0.061638,2.020006,0.892207
8,(2509639),(6032521),0.133285,0.140838,0.080409,0.603291,4.283573,0.061638,2.165721,0.884431
9,(2509639),(7782639),0.133285,0.131579,0.080409,0.603291,4.585009,0.062872,2.189061,0.902139
10,(7782639),(2509639),0.131579,0.133285,0.080409,0.611111,4.585009,0.062872,2.228697,0.900367
11,(3110746),(3029412),0.130848,0.162524,0.088207,0.674115,4.147781,0.066941,2.569854,0.873158
12,(3029412),(3110746),0.162524,0.130848,0.088207,0.542729,4.147781,0.066941,1.900736,0.906184
13,(4258931),(3029412),0.134259,0.162524,0.089669,0.667877,4.109394,0.067848,2.521580,0.873997
14,(3029412),(4258931),0.162524,0.134259,0.089669,0.551724,4.109394,0.067848,1.931268,0.903495
15,(5494826),(3029412),0.131092,0.162524,0.086257,0.657993,4.048578,0.064952,2.448706,0.866604
16,(3029412),(5494826),0.162524,0.131092,0.086257,0.530735,4.048578,0.064952,1.851635,0.899130
17,(6032521),(3029412),0.140838,0.162524,0.095517,0.678201,4.172917,0.072627,2.602478,0.885002
18,(3029412),(6032521),0.162524,0.140838,0.095517,0.587706,4.172917,0.072627,2.083858,0.907918
19,(6062521),(3029412),0.135721,0.162524,0.093324,0.687612,4.230825,0.071266,2.680885,0.883557
20,(3029412),(6062521),0.162524,0.135721,0.093324,0.574213,4.230825,0.071266,2.029838,0.911835
21,(6200129),(3029412),0.141082,0.162524,0.098197,0.696028,4.282605,0.075268,2.755104,0.892399
22,(3029412),(6200129),0.162524,0.141082,0.098197,0.604198,4.282605,0.075268,2.170070,0.915247
23,(6407573),(3029412),0.113304,0.162524,0.080409,0.709677,4.366591,0.061995,2.884638,0.869507
24,(6441219),(3029412),0.114035,0.162524,0.080897,0.709402,4.364894,0.062363,2.881901,0.870124
25,(6732960),(3029412),0.126218,0.162524,0.086501,0.685328,4.216772,0.065987,2.661426,0.873046
26,(3029412),(6732960),0.162524,0.126218,0.086501,0.532234,4.216772,0.065987,1.867988,0.910894
27,(3029412),(7782639),0.162524,0.131579,0.089181,0.548726,4.170315,0.067797,1.924375,0.907740
28,(7782639),(3029412),0.131579,0.162524,0.089181,0.677778,4.170315,0.067797,2.599062,0.875393
29,(6032521),(3110746),0.140838,0.130848,0.080897,0.574394,4.389786,0.062468,2.042154,0.898781
30,(3110746),(6032521),0.130848,0.140838,0.080897,0.618250,4.389786,0.062468,2.250585,0.888450
31,(4142521),(4512521),0.109893,0.109162,0.085039,0.773836,7.088890,0.073043,3.938902,0.964978
32,(4512521),(4142521),0.109162,0.109893,0.085039,0.779018,7.088890,0.073043,4.027960,0.964187
33,(6200129),(4258931),0.141082,0.134259,0.080409,0.569948,4.245131,0.061468,2.013108,0.889999
34,(4258931),(6200129),0.134259,0.141082,0.080409,0.598911,4.245131,0.061468,2.141466,0.882985
35,(4462521),(4512521),0.102096,0.109162,0.081140,0.794749,7.280472,0.069995,4.340247,0.960733
36,(4512521),(4462521),0.109162,0.102096,0.081140,0.743304,7.280472,0.069995,3.497924,0.968353
37,(6032521),(5494826),0.140838,0.131092,0.084552,0.600346,4.579591,0.066089,2.174152,0.909770
38,(5494826),(6032521),0.131092,0.140838,0.084552,0.644981,4.579591,0.066089,2.420047,0.899565
39,(6032521),(6062521),0.140838,0.135721,0.108187,0.768166,5.659881,0.089072,3.728008,0.958280
40,(6062521),(6032521),0.135721,0.140838,0.108187,0.797127,5.659881,0.089072,4.234983,0.952607
41,(6200129),(6032521),0.141082,0.140838,0.084795,0.601036,4.267565,0.064926,2.153483,0.891440
42,(6032521),(6200129),0.140838,0.141082,0.084795,0.602076,4.267565,0.064926,2.158499,0.891188
43,(6200129),(6062521),0.141082,0.135721,0.083333,0.590674,4.352108,0.064186,2.111466,0.896740
44,(6062521),(6200129),0.135721,0.141082,0.083333,0.614004,4.352108,0.064186,2.225197,0.891178
45,(6642521),(6742521),0.106481,0.109649,0.084064,0.789474,7.200000,0.072389,4.229167,0.963731
46,(6742521),(6642521),0.109649,0.106481,0.084064,0.766667,7.200000,0.072389,3.829365,0.967159
47,(6642521),(6752521),0.106481,0.112817,0.087476,0.821510,7.281810,0.075463,4.970501,0.965477
48,(6752521),(6642521),0.112817,0.106481,0.087476,0.775378,7.281810,0.075463,3.977876,0.972371
49,(6742521),(6752521),0.109649,0.112817,0.090400,0.824444,7.307819,0.078029,5.053575,0.969461
50,(6752521),(6742521),0.112817,0.109649,0.090400,0.801296,7.307819,0.078029,4.480788,0.972922

In [10]:
cluster3_trnsact = merged.loc[merged['cluster'] == 2,['TRANNUM','SKU']].groupby('TRANNUM')['SKU'].apply(list).tolist()

# Encoding the transactions
te = TransactionEncoder()
te_ary = te.fit(cluster3_trnsact).transform(cluster3_trnsact)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

# Running Apriori algorithm
frequent_itemsets = apriori(df_encoded, min_support=0.08, use_colnames=True)

# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)

# Displaying the rules
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []