In [1]:
import pandas as pd
from kmodes.kprototypes import KPrototypes
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [ ]:
# File name
features_5 = "5_features.csv"

In [2]:
# read data
df = pd.read_csv(features_5).drop("Unnamed: 0", axis=1)
df.columns = ["SKU", "return_rate", "size", "dep_1", "dep_2", "dep_3", "most_sold_season","discounted"]
df.head()

   SKU  return_rate   size  dep_1  dep_2  dep_3 most_sold_season  discounted
0   69     0.000000      M      0      1      0             Fall          -1
1   73     0.000000  OTHER      0      1      0           Spring           1
2   78     0.259259      L      0      1      0           Summer           1
3  105     0.000000      S      1      0      0           Summer           0
4  107     0.000000  OTHER      1      0      0           Summer           0

In [3]:
# Combine one-hot encoded department columns
df['department'] = df[['dep_1', 'dep_2', 'dep_3']].idxmax(axis=1).str.extract(r'(\d+)').astype(int)
df = df.drop(['dep_1', 'dep_2', 'dep_3'], axis=1)

# Encoding categorical variables
categorical_cols = ['size', 'most_sold_season','discounted','department']
label_encoder = LabelEncoder()
df['size'] = label_encoder.fit_transform(df['size'])
df['most_sold_season'] = label_encoder.fit_transform(df['most_sold_season'])
df['discounted'] = label_encoder.fit_transform(df['discounted'])
df['department'] = label_encoder.fit_transform(df['department'])
# Convert categorical columns to string type
df[categorical_cols] = df[categorical_cols].astype(str)

# Standardize numerical columns
numerical_cols = ['return_rate']
scaler = StandardScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

df.head()

   SKU  return_rate size most_sold_season discounted department
0   69    -0.933181    2                0          0          1
1   73    -0.933181    4                1          2          1
2   78     1.894038    1                2          2          1
3  105    -0.933181    5                2          1          0
4  107    -0.933181    4                2          1          0

In [10]:
# Specify the number of clusters
num_clusters = 3

# Fit K-Prototypes model
kproto = KPrototypes(n_clusters=num_clusters, init='Huang', n_init=10, verbose=1)
clusters = kproto.fit_predict(df[['return_rate','size', 'most_sold_season','discounted','department']], categorical=[1,2,3,4])

# Add cluster labels to the original DataFrame
df['cluster'] = clusters

# Display the result
df

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 79568, ncost: 726101.215773256
Run: 1, iteration: 2/100, moves: 74658, ncost: 706910.6843584717
Run: 1, iteration: 3/100, moves: 38177, ncost: 702746.2178206494
Run: 1, iteration: 4/100, moves: 31253, ncost: 685674.9150009139
Run: 1, iteration: 5/100, moves: 48848, ncost: 683110.4490906268
Run: 1, iteration: 6/100, moves: 13151, ncost: 682473.0653183551
Run: 1, iteration: 7/100, moves: 6165, ncost: 682373.0881284798
Run: 1, iteration: 8/100, moves: 2369, ncost: 682357.9957736043
Run: 1, iteration: 9/100, moves: 980, ncost: 682355.8493571865
Run: 1, iteration: 10/100, moves: 119, ncost: 682355.8168817481
Run: 1, iteration: 11/100, moves: 4, ncost: 682355.8168450969
Run: 1, iteration: 12/100, moves: 0, ncost: 682355.8168450969
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 176871, ncost: 763592.1320352991
Run: 2, iteration: 2/100, moves: 115683, ncost: 741500.2425165419
Run: 2, iteration: 3/100, moves: 67935, ncost: 726286.3371847501
Run: 2, iteration: 4/100, moves: 44722, ncost: 716258.735473892
Run: 2, iteration: 5/100, moves: 32039, ncost: 709109.3111639313
Run: 2, iteration: 6/100, moves: 22666, ncost: 704616.4434999055
Run: 2, iteration: 7/100, moves: 16722, ncost: 701742.941560496
Run: 2, iteration: 8/100, moves: 19760, ncost: 693690.0125003834
Run: 2, iteration: 9/100, moves: 19147, ncost: 693165.0542149813
Run: 2, iteration: 10/100, moves: 1566, ncost: 693121.3589085772
Run: 2, iteration: 11/100, moves: 306, ncost: 693120.9808342378
Run: 2, iteration: 12/100, moves: 216, ncost: 693120.2629825447
Run: 2, iteration: 13/100, moves: 40, ncost: 693120.2312862831
Run: 2, iteration: 14/100, moves: 0, ncost: 693120.2312862831
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 139125, ncost: 742340.408640487
Run: 3, iteration: 2/100, moves: 81576, ncost: 718889.5601882421
Run: 3, iteration: 3/100, moves: 53124, ncost: 703931.9658562737
Run: 3, iteration: 4/100, moves: 34800, ncost: 695874.0017829426
Run: 3, iteration: 5/100, moves: 32934, ncost: 684058.1939977279
Run: 3, iteration: 6/100, moves: 23206, ncost: 682517.9346318919
Run: 3, iteration: 7/100, moves: 4320, ncost: 682373.8901103695
Run: 3, iteration: 8/100, moves: 2120, ncost: 682357.8080309464
Run: 3, iteration: 9/100, moves: 930, ncost: 682355.8439802903
Run: 3, iteration: 10/100, moves: 108, ncost: 682355.8168817587
Run: 3, iteration: 11/100, moves: 4, ncost: 682355.8168451092
Run: 3, iteration: 12/100, moves: 0, ncost: 682355.8168451092
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 194299, ncost: 765617.5760959034
Run: 4, iteration: 2/100, moves: 57996, ncost: 745851.0783285628
Run: 4, iteration: 3/100, moves: 20099, ncost: 742664.1852624997
Run: 4, iteration: 4/100, moves: 13142, ncost: 740685.8534445575
Run: 4, iteration: 5/100, moves: 12094, ncost: 738977.4215806422
Run: 4, iteration: 6/100, moves: 7085, ncost: 738406.9609158287
Run: 4, iteration: 7/100, moves: 4279, ncost: 738220.62482669
Run: 4, iteration: 8/100, moves: 2054, ncost: 738163.7592655917
Run: 4, iteration: 9/100, moves: 569, ncost: 738160.6947822679
Run: 4, iteration: 10/100, moves: 88, ncost: 738160.6392401055
Run: 4, iteration: 11/100, moves: 2, ncost: 738160.6392356297
Run: 4, iteration: 12/100, moves: 0, ncost: 738160.6392356297
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 114344, ncost: 706291.1163974069
Run: 5, iteration: 2/100, moves: 36972, ncost: 701821.8728352167
Run: 5, iteration: 3/100, moves: 13185, ncost: 699030.361533024
Run: 5, iteration: 4/100, moves: 9546, ncost: 698042.4906454877
Run: 5, iteration: 5/100, moves: 6799, ncost: 697770.6178516196
Run: 5, iteration: 6/100, moves: 3153, ncost: 697741.7540615028
Run: 5, iteration: 7/100, moves: 690, ncost: 697740.3722329744
Run: 5, iteration: 8/100, moves: 157, ncost: 697740.3160681403
Run: 5, iteration: 9/100, moves: 4, ncost: 697740.3159749211
Run: 5, iteration: 10/100, moves: 0, ncost: 697740.3159749211
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/100, moves: 128516, ncost: 763658.9429752841
Run: 6, iteration: 2/100, moves: 79373, ncost: 731458.3402385998
Run: 6, iteration: 3/100, moves: 72079, ncost: 720186.1704941719
Run: 6, iteration: 4/100, moves: 36020, ncost: 711779.4331398519
Run: 6, iteration: 5/100, moves: 25978, ncost: 706348.8238176287
Run: 6, iteration: 6/100, moves: 18995, ncost: 702862.6511763711
Run: 6, iteration: 7/100, moves: 13863, ncost: 700527.624149455
Run: 6, iteration: 8/100, moves: 29490, ncost: 693265.4195590846
Run: 6, iteration: 9/100, moves: 2796, ncost: 693123.6060952166
Run: 6, iteration: 10/100, moves: 658, ncost: 693121.0186929345
Run: 6, iteration: 11/100, moves: 192, ncost: 693120.382401887
Run: 6, iteration: 12/100, moves: 110, ncost: 693120.2312864048
Run: 6, iteration: 13/100, moves: 1, ncost: 693120.2312863715
Run: 6, iteration: 14/100, moves: 0, ncost: 693120.2312863715
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/100, moves: 97394, ncost: 706241.3425441114
Run: 7, iteration: 2/100, moves: 19874, ncost: 702656.7147603601
Run: 7, iteration: 3/100, moves: 31559, ncost: 685582.6624664355
Run: 7, iteration: 4/100, moves: 47164, ncost: 683073.5586744723
Run: 7, iteration: 5/100, moves: 12922, ncost: 682465.7067330581
Run: 7, iteration: 6/100, moves: 5973, ncost: 682372.3146833781
Run: 7, iteration: 7/100, moves: 2351, ncost: 682357.694163529
Run: 7, iteration: 8/100, moves: 914, ncost: 682355.8408179473
Run: 7, iteration: 9/100, moves: 102, ncost: 682355.8168684427
Run: 7, iteration: 10/100, moves: 3, ncost: 682355.8168450966
Run: 7, iteration: 11/100, moves: 0, ncost: 682355.8168450966
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/100, moves: 71201, ncost: 697828.4863822103
Run: 8, iteration: 2/100, moves: 15792, ncost: 694221.0653715639
Run: 8, iteration: 3/100, moves: 7392, ncost: 693352.8011262435
Run: 8, iteration: 4/100, moves: 4735, ncost: 693144.3585676319
Run: 8, iteration: 5/100, moves: 2840, ncost: 693121.639610878
Run: 8, iteration: 6/100, moves: 552, ncost: 693121.0149992524
Run: 8, iteration: 7/100, moves: 194, ncost: 693120.3333843049
Run: 8, iteration: 8/100, moves: 91, ncost: 693120.231286452
Run: 8, iteration: 9/100, moves: 1, ncost: 693120.2312864278
Run: 8, iteration: 10/100, moves: 0, ncost: 693120.2312864278
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/100, moves: 77142, ncost: 746661.7590089891
Run: 9, iteration: 2/100, moves: 67856, ncost: 722173.951999071
Run: 9, iteration: 3/100, moves: 84152, ncost: 705558.1603905768
Run: 9, iteration: 4/100, moves: 20653, ncost: 701439.6698075058
Run: 9, iteration: 5/100, moves: 42670, ncost: 684735.4521352872
Run: 9, iteration: 6/100, moves: 35295, ncost: 682801.456604591
Run: 9, iteration: 7/100, moves: 10946, ncost: 682413.6231830902
Run: 9, iteration: 8/100, moves: 4109, ncost: 682368.0892311914
Run: 9, iteration: 9/100, moves: 2186, ncost: 682356.281078109
Run: 9, iteration: 10/100, moves: 433, ncost: 682355.8206246184
Run: 9, iteration: 11/100, moves: 40, ncost: 682355.8168510176
Run: 9, iteration: 12/100, moves: 1, ncost: 682355.8168451157
Run: 9, iteration: 13/100, moves: 0, ncost: 682355.8168451157
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/100, moves: 81306, ncost: 704509.6862078997
Run: 10, iteration: 2/100, moves: 44918, ncost: 693419.0621345569
Run: 10, iteration: 3/100, moves: 30743, ncost: 686308.3793645767
Run: 10, iteration: 4/100, moves: 21813, ncost: 683174.1939975476
Run: 10, iteration: 5/100, moves: 11745, ncost: 682479.3123292092
Run: 10, iteration: 6/100, moves: 5957, ncost: 682373.0532081501
Run: 10, iteration: 7/100, moves: 2319, ncost: 682357.9781930486
Run: 10, iteration: 8/100, moves: 975, ncost: 682355.8488424973

Run: 10, iteration: 9/100, moves: 118, ncost: 682355.8168816931
Run: 10, iteration: 10/100, moves: 4, ncost: 682355.8168450512
Run: 10, iteration: 11/100, moves: 0, ncost: 682355.8168450512
Best run was number 10

,SKU,return_rate,size,most_sold_season,discounted,department,cluster
0,69,-0.933181,2,0,0,1,2
1,73,-0.933181,4,1,2,1,2
2,78,1.894038,1,2,2,1,0
3,105,-0.933181,5,2,1,0,2
4,107,-0.933181,4,2,1,0,2
...,...,...,...,...,...,...,...
576488,9999967,-0.933181,0,2,1,1,2
576489,9999970,1.793066,4,0,2,1,0
576490,9999974,0.507100,1,2,2,1,1
576491,9999992,-0.933181,1,2,1,1,2
576492,9999997,0.744509,2,2,2,1,1

In [11]:
df.to_csv("clustering_result3.csv")

In [12]:
df["cluster"].value_counts()

cluster
2    291111
1    255980
0     29402
Name: count, dtype: int64